@using SModels;
@using System.Collections.Generic;
@model IEnumerable<SModels.Store>

@{
    ViewData["Title"] = "LocationHistory";
    List<Store> storeList = ViewBag.Store;
}

<h1 class="text-center text-white">Location History</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-white-50">
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th class="text-white-50">
                @Html.DisplayNameFor(model => model.StoreLocation)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in storeList) {
        <tr>
            <td class="text-white-50">
                @item.StoreName
            </td>
            <td class="text-white-50">
                @item.StoreLocation
            </td>
        </tr>
}
    </tbody>
</table>
