@model SMVC.Models.StoreListVM

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center text-white-50">Welcome to @Html.DisplayFor(model => model.StoreName)!</h1>
@* 
Need to add a image of the shopkeeper and their name and a description to the shop.    
*@


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd class = "col-sm-10">
        </dd>
    </dl>
</div>
<div>
    @{
        var user = (SModels.Customer)ViewData["User"];
        if (user.IsManager)
        {
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ });
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
