@model IEnumerable<SModels.Store>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-white">All Stores</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-white-50">
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.StoreName, "Details", "Store", new { item.StoreName })
            </td>
        </tr>
}
    </tbody>
</table>
