@using SModels;
@using System.Text.Json;
@using Microsoft.AspNetCore.Http;

@{ 
    Customer customer;
    if (Context.Session.GetString("userData") == null)
    {
        customer = null;
    }
    else
    {
        customer = JsonSerializer.Deserialize<Customer>(Context.Session.GetString("userData"));
    }
}

<ul class="navbar-nav">
    @if (customer != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="UserSettings">@customer.CustomerFirstName</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Create">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Create">Login</a>
        </li>
    }
</ul>