@using SModels;
@using System.Text.Json;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "IndexOrder";
}

<div class="text-center text-white-50">
    <h1 class="display-4 text-white-50">Welcome</h1>
    <p class="text-white-50">This is the application for my store app for all users.</p>
</div>

